*{
    margin :0;
    padding : 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
body{
    background: #000000;
    color: #000000;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/IMG_0697-removebg-preview\ copy.png);
    background-size: 40%;
    background-position: right;
    background-repeat: no-repeat;
}
.container{
    padding: 10px 10%;
    color :#fff;
}

#navbar {
    margin-right: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black; 
    z-index: 1000;
    transition: background-color 0.3s; 
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

#navbar li {
    padding: 20px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    margin-left: 50px;
    width: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -6px;
}
.header-text{
    color: #fff;
    margin-top: 20%;
    font-size: 30px;
    overflow: hidden;
}

@keyframes typing{
    from {width: 0;}
    to {width: 100%;}
}
#typewriter {
    animation: typing 4s steps(40,end) infinite;
    font-weight: bold;
    font-size: 50px;
}
/*------------about------------*/
#about{/*tag with id*/
    padding: 105px 0;
    color: #fffff1;
    font-size: 20 px;
    height: 100vh;
}
.row{/*dot with class*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;

}
.about-col1 img{
    width:100%;
    border-radius: 15px;
}

.about-col2{
    flex-basis: 60%;

}

.sub-title{
    font-size: 60px;
    font-weight: 700;
    background: -webkit-linear-gradient(#22c1c3,#fdbb2d); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18 px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background : #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    font-size: 16px;
    color: #b54769;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-contents ul li a{
    font-size: 20 px;
    color: #fff;
    text-decoration: none;
}

/*-------------portfolio---------------*/
#portfolio{
    padding: 105px 0;
    height: 100vh;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: #fff;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: bold;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.05);
}
.work:hover .layer{
    height: 100%;
}
/*-------------certificates---------------*/
.section{
    display: flex; 
    color: #fff;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 0%;
}
.right-section, .left-section{
    flex: 1;
    padding: 10%;
}
.left-section ul li{
    margin: 15px;
}
.left-section ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
/*----------------contract----------------*/
.contact-right{
    color: #fff;
    flex-basis: 35%;
    margin-right: 10%;
}
.contact-right p{
    margin-top: 10px;
    font-size: 30px;
}
.contact-right p i{
    color: #fff;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 15px;
    margin-bottom: 15px;
}
.social-icons a{
    text-decoration: none;
    margin-right: 15px;
    font-size: 40px;
    color: #fffff1;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.viewCV{
    text-decoration: none; 
    color: #fff;
    padding: 10px;
}